.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
}

.buttonContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10vh;
}

.line{
    border: solid;
    border-width: 2px;
    height: 75px;
    margin-top: -1vh;
}

.buttonContainer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10vh;
}

h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 87px;
    text-align: center; 
    margin-bottom: 8vh; 
}

button{
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    text-align: center
}

p{
    width: 150px;
    height: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #000000;  
    text-align: center; 
}